pandas
numpy
seaborn
matplotlib
joblib
scikit-learn
pytest
Flask
xgboost
tailwindcss
plotly
dash
lightgbm
tensorflow
keras

imbalanced-learn
shap
lime

flask
flask-cors

mlflow

dash-bootstrap-components

# Web Application Deployment
gunicorn
gdown
# Docker Deployment
docker

# Additional Utilities
ipython
jupyter
flask-logging
