<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body class="bg-gradient flex items-center justify-center min-h-screen p-6">
    <div class="container max-w-4xl p-10 bg-white rounded-lg shadow-lg mx-auto">
        {% include 'navigation.html' %}
        <header class="mb-8 text-center">
            <h1 class="text-4xl font-extrabold text-blue-600 pl-6">Overview of Fraud Detection</h1>
        </header>
        <p>This section provides an overview of fraud activities and detection strategies.</p>
    </div>
</body>
</html>
